* {
    margin: 0;
    padding: 0;
}

body {}

.header {
    height: 60px;
    background-color: black;
}

.header h1 {
    position: relative;
    text-align: left;
    font-size: 32px;
    color: lightcoral;
}

.bx-navigation {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: l;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li :hover::after {
    width: 100%;
}